body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a,
img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    display: flex;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
        }
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
            background: #FFFFFF;
}

.page-header .container {
    justify-content: space-between;
    align-items: center;
}

.nav-list,
.page-address {
    display: none;
}

.logo-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-accent {
    color: #4D5AE5;
}

.header-burger {
    fill: #2f2f37;
}






@media screen and (min-width: 768px) { 
.page-nav,      
.nav-list,
.page-address {
     display: flex;
        }

.logo-link {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list {
    gap: 40px;
    display: flex;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.nav-link:focus,
.nav-link:hover {
    color: #404BBF;

}

.nav-link.current {
    color: #404BBF;
}

.nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    display: block;
    position: absolute;
    bottom: -1px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.header-burger {
    display: none;
}

}




@media screen and (min-width: 1158px) {

    .page-header {
max-width: 1440px;
margin: 0 auto;
    }

    .container {
        padding: 0 16px;
    }
    .page-nav {
            gap: 76px;
        }

    .nav-list {
            gap: 40px;
                }

        .address-list {
            font-style: normal;
            display: flex;
            gap: 40px;
            flex-direction: row;
        }

        .contacts-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
}







.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(url('../images/Hero-img-m.jpg') 1x,
            url('../images/Hero-img-m@2x.jpg') 2x);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 320px;
        margin: auto;
}

.section-hero .container {
    flex-direction: column;
    align-items: center;
    padding: 72px 52px;
    gap: 72px;
}

.hero-title {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.section-hero-btn {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-btn:hover,
.section-hero-btn:focus {
    background-color: #404BBF;
}




@media screen and (min-width: 768px) {
   .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        image-set(url('../images/Hero-img-t.jpg') 1x,
        url('../images/Hero-img-t@2x.jpg') 2x);
        max-width: 768px;
    }

   .section-hero .container {
        gap: 36px;
        padding: 112px 136px;
    }

   .hero-title {
        font-size: 56px;
        line-height: 1.07;
    }
}




@media screen and (min-width: 1158px) {
   .section-hero {
        margin: auto;
        max-width: 1440px;
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        image-set(url('../images/hero-img.jpg') x1,
        url('../images/Hero-img-d@2x.jpg') 2x);
   }

   .section-hero .container {
        padding: 188px 15px;
   }

   .hero-title{
        max-width: 496px;
        margin-bottom: 48px;
}

}









.featurs-list {
    display: flex;
    flex-wrap: wrap;
   gap: 72px;

}

.featurs-icon {
    display: none;
}

.section-featurs .container {
    padding-top: 96px;
    padding-bottom: 96px;
}

.featurs-item-title {
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.featurs-item p {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media screen and (min-width: 768px) {
      .featurs-list {
            column-gap: 24px;
            row-gap: 72px;
        }

                  .featurs-item {
                      width: 356px;
                    gap: 8px;
                }
}


@media screen and (min-width: 1158px) {

    .section-featurs {
            background-color: #fff;
            width: 100%;
        }

                 .section-featurs .container {
                    padding: 120px 15px;
                 }

.featurs-list {
        gap: 24px;
    }

.featurs-item {
    width: 264px;

}

.featurs-icon {
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featurs-icon .icon {
    fill: #2E2F42;
}

.featurs-item-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 40px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.featurs-item p {
    font-weight: 400;
}
}
