body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a,
img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    display: flex;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
        }
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
            background: #FFFFFF;
}

.page-header .container {
    justify-content: space-between;
    align-items: center;
}

.nav-list,
.page-address {
    display: none;
}

.logo-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-accent {
    color: #4D5AE5;
}

.header-burger {
    fill: #2f2f37;
}






@media screen and (min-width: 768px) { 
.page-nav,      
.nav-list,
.page-address {
     display: flex;
        }

.logo-link {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list {
    gap: 40px;
    display: flex;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.nav-link:focus,
.nav-link:hover {
    color: #404BBF;

}

.nav-link.current {
    color: #404BBF;
}

.nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    display: block;
    position: absolute;
    bottom: -1px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.header-burger {
    display: none;
}

}




@media screen and (min-width: 1158px) {

    .page-header {
max-width: 1440px;
margin: 0 auto;
    }

    .container {
        padding: 0 16px;
    }
    .page-nav {
            gap: 76px;
        }

    .nav-list {
            gap: 40px;
                }

        .address-list {
            font-style: normal;
            display: flex;
            gap: 40px;
            flex-direction: row;
        }

        .contacts-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
}







.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(url('../images/Hero-img-m.jpg') 1x,
            url('../images/Hero-img-m@2x.jpg') 2x);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 320px;
        margin: auto;
}

.section-hero .container {
    flex-direction: column;
    align-items: center;
    padding: 72px 52px;
    gap: 72px;
}

.hero-title {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.section-hero-btn {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-btn:hover,
.section-hero-btn:focus {
    background-color: #404BBF;
}




@media screen and (min-width: 768px) {
   .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        image-set(url('../images/Hero-img-t.jpg') 1x,
        url('../images/Hero-img-t@2x.jpg') 2x);
        max-width: 768px;
    }

   .section-hero .container {
        gap: 36px;
        padding: 112px 136px;
    }

   .hero-title {
        font-size: 56px;
        line-height: 1.07;
    }
}




@media screen and (min-width: 1158px) {
   .section-hero {
        margin: auto;
        max-width: 1440px;
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        image-set(url('../images/hero-img.jpg') x1,
        url('../images/Hero-img-d@2x.jpg') 2x);
   }

   .section-hero .container {
        padding: 188px 15px;
   }

   .hero-title{
        max-width: 496px;
        margin-bottom: 48px;
}

}









.featurs-list {
    display: flex;
    flex-wrap: wrap;
   gap: 72px;

}

.featurs-icon {
    display: none;
}

.section-featurs .container {
    padding-top: 96px;
    padding-bottom: 96px;
}

.featurs-item-title {
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.featurs-item p {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media screen and (min-width: 768px) {
      .featurs-list {
            column-gap: 24px;
            row-gap: 72px;
        }

                  .featurs-item {
                      width: 356px;
                    gap: 8px;
                }
}


@media screen and (min-width: 1158px) {

    .section-featurs {
            background-color: #fff;
            width: 100%;
        }

                 .section-featurs .container {
                    padding: 120px 15px;
                 }

.featurs-list {
        gap: 24px;
    }

.featurs-item {
    width: 264px;

}

.featurs-icon {
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featurs-icon .icon {
    fill: #2E2F42;
}

.featurs-item-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 40px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.featurs-item p {
    font-weight: 400;
}
}






.section-teams .container {
    background-color: #F4F4FD;
    flex-direction: column;
    justify-content: center;
    padding: 96px 28px;
}

.teams-title {
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.teams-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.teams-card {
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
        /* padding-block: 0px 32px;
        padding-inline: 0px; */
   
}

.teams-card-content {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.teams-name {
    text-align: center;
    /* margin-bottom: 8px; */
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.teams-role {
    text-align: center;
    /* margin-bottom: 8px; */
font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.teams-card-social-list {
    display: flex;
    gap: 24px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus,
.link:hover {
    background-color: #404bbf;
}

.icon {
    fill: #F4F4FD;
}

.social-link .icon:focus,
.social-link .icon:hover {
    fill: #F4F4FD;
}





@media screen and (min-width: 768px) {
    .section-teams .container {
        padding: 96px 108px;
    }

        .teams-list {
           row-gap: 64px;
            column-gap: 24px;
        }
}

@media screen and (min-width: 1158px) {
    .section-teams .container {
            padding: 120px 15px;
        }

                 .teams-list {
                     gap: 24px;
                 }
}






.section-portfolio .container {
    flex-direction: column;
    padding: 96px 16px;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-card {
    background-color: #FFFFFF;
    text-align: left;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
        min-height: 400px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-img{
    width: 288px;
        height: 280px;
}

.overlay-img {
    position: relative;
    overflow: hidden;
}

.portfolio-card-img {
    max-width: 100%;
}

.overlay {
    position: absolute;
    padding: 40px 32px;
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.overlay-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-card:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.portfolio-card-text {
display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding-block: 32px;
    padding-inline: 16px;
    width: 288px;
    height: 120px;
}

.card-title {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.portfolio-card-text p {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


@media screen and (min-width: 768px) {
    .portfolio-card {
        width: 356px;
        height: 420px;
    }

        .portfolio-list {
          column-gap: 24px;
            row-gap: 72px;
        }

                .portfolio-card-img {
                    width: 356px;
                    height: 300px;
                }

                .portfolio-card-text {
                    width: 100%;
                }
                 
}


@media screen and (min-width: 1158px) {
    .section-portfolio .container {
padding: 120px 15px;
    }

        .portfolio-list {
            row-gap: 48px;
        }

}









.footer-section {
    background-color: #2E2F42;
    width: 100%;
}
.footer-section .container {
padding: 96px 16px;
flex-direction: column;
gap: 72px;
align-items: center;
}

.footer-logo-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px ;
}

.footer-logo-link {
    text-align: center;
    font-weight: 700;
        font-size: 18px;
    text-decoration: none;
        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.footer-social-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-social-list {
    gap: 16px;
    display: flex;

}

.footer-social-box p {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.footer-social-link .link:focus,
.footer-social-link .link:hover {
    background-color: #31d0aa;
    outline: none;
}

.form-subscribe {
   display: flex;
   flex-direction: column;
   align-items: center;
width: 100%;
gap: 16px;
}

.form-subscribe-label {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}
.input-btn-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.footer-email-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: inherit;
        padding-left: 16px;
        font-weight: 400;
            font-size: 12px;
        
            /* line-height: 24px; */
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-input::placeholder {
    color: #fff;
}

.footer-email-input:focus,
.footer-email-input:hover {
    border-color: rgba(49, 208, 170, 1);
    outline: none;
}

.form-subscribe-btn {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        border-radius: 4px;
            padding-block: 8px;
            padding-inline: 24px;
            width: 165px;
            height: 40px;
            background: #4D5AE5;
            font-weight: 500;
                font-size: 16px;
            
                /* line-height: 24px; */
                line-height: 1.5;
                letter-spacing: 0.04em;
                text-align: center;
                color: #fff;
}

.form-subscribe-btn .icon {
    fill: #fff;
}

.form-subscribe-btn:focus,
.form-subscribe-btn:hover {
    background-color: #31d0aa;
    fill: #fff;
    outline: none;
}




